/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* fonts */
/* Подключаем шрифты */
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Variables */
/* Кастомные свойства */
:root{
--background-main-color: rgba(255, 255, 255, 1);
--second-color: rgba(238, 238, 238, 1);
--buttons-main-color: rgba(251, 86, 90, 1);
--buttons-hover-color: rgba(231, 66, 70, 1);
--buttons-touch-color: rgba(215, 55, 59, 1);
--buttons-font-color: rgba(255, 255, 255, 1);
--text-color: rgba(40, 49, 54, 1);
--text-color-light: rgba(102, 102, 102, 1);
--headline-color: rgba(0, 0, 0, 1);
--main-font-size: 16px;
}

/* Global */
.page{
height: 100%;
}
.page-body{
min-height: 100%;
display: -ms-grid;
display: grid;
-ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
-ms-grid-rows: min-content 1fr min-content;
grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
grid-template-rows: min-content 1fr min-content;
-ms-flex-line-pack: start;
    align-content: start;
position: relative;
}
body{
font-family: "Roboto", Arial, Helvetica, sans-serif;
font-size: var(--main-font-size);
margin: 0;
padding: 0;
min-width: 1160px;
background-color: var(--background-main-color);
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
-webkit-clip-path: inset(100%);
        clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
a{
text-decoration: none;
}
.button{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
min-height: 50px;
background-color: var(--buttons-main-color);
color: var(--buttons-font-color);
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
border-radius: 3px;
font-weight: 500;
text-transform: uppercase;
min-width: 50px;
-webkit-transition: all 0.1s linear;
-o-transition: all 0.1s linear;
transition: all 0.1s linear;
padding-left: 20px;
padding-right: 20px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
text-align: center;
}
button.button{
border: 0;
}
.button:hover{
background-color: var(--buttons-hover-color);
}
.button:active{
background-color: var(--buttons-touch-color);
color: rgba(255, 255, 255, 0.3);
-webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
        box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
img{
display: block;
max-width: 100%;
height: auto;
}
main.container{
margin-top: -1px;
}

/* header and header slider */
.page-header{
padding: 0 10px;
z-index: 1;
}
.page-header-logo{
-ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.page-header-logo[href]:hover{
opacity: 0.7;
}

.page-header-logo[href]:active{
opacity: 0.3;
}

.page-header, .header-slider{
background-color: var(--second-color);
}


.header-slider-container{
width: 1160px;
margin: 0 auto;
position: relative;
}

.header-slider-container ul{
list-style: none;
margin: 0;
padding: 0;
}

.page-header a{
color: var(--headline-color);
}

.page-header a[href]:hover, .page-header a[href]:focus{
color: var(--buttons-main-color);
}

.page-header a[href]:active{
color: rgba(0, 0, 0, 0.3);
}

.main-navigation{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 1160px;
margin: 0 auto;
text-transform: uppercase;
padding-top: 53px;
line-height: 30px;
font-weight: 500;
}

.navigation-list_item {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
min-height: 60px;
}

.current-list_item{
border-bottom: 2px solid var(--buttons-main-color);
}

.cart-link{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-top: 12px;
margin-left: 44px;
}
.cart-link::before{
content: "";
height: 15px;
width: 15px;
background-image: url(../img/icon/cart.svg);
margin-right: 25px;
}

.navigation-list{
padding-left: 0;
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin: 0;
margin-left: auto;
margin-right: auto;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
max-width: 700px;
}
.navigation-list_item {
padding-bottom: 10px;
}
.navigation-list_item a{
margin-top: 22px;
}
.navigation-list .navigation-list_item:not(:last-child){
margin-right: 45px;
}
.header-slider_item{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: relative;
}
.slider-description {
width: 520px;
line-height: 24px;
color: var(--text-color);
}
.header-slider_item-iphones::after {
content: "";
width: 760px;
height: 431px;
background-image: url(../img/iphones.png);
background-repeat: no-repeat;
background-size: contain;
display: block;
position: absolute;
right: 0;
bottom: 0;
}

.header-slider_item-imac::after {
content: "";
width: 760px;
height: 431px;
background-image: url(../img/imac.png);
background-repeat: no-repeat;
background-size: contain;
display: block;
position: absolute;
right: 0;
bottom: 0;
}

.header-slider_item-tablet::after {
content: "";
width: 760px;
height: 431px;
background-image: url(../img/tablet.png);
background-repeat: no-repeat;
background-size: contain;
display: block;
position: absolute;
right: 0;
bottom: 0;
}
.slider-display-none{
  display: none;
}
.slider-description h3{
font-size: 55px;
line-height: 55px;
margin-top: 78px;
margin-bottom: 25px;
font-weight: 500;
}
.slider-description p{
width: 420px;
}
.slide-button{
width: 240px;
margin-top: 40px;
margin-bottom: 80px;
}
.slider-indicator{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: -webkit-min-content;
width: -moz-min-content;
width: min-content;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
position: absolute;
bottom: 96px;
left: 536px;
}
.slider-indicator-button{
border: none;
background-color: inherit;
width: 18px;
height: 18px;
background-color: rgba(255, 255, 255, 1);
border-radius: 50%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
cursor: pointer;
padding: 0;
}

.slider-indicator-item:not(:last-child){
margin-right: 17px;
}
.slider-indicator-current::before{
content: "";
width: 8px;
height: 8px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
border: 2px solid rgba(193, 193, 193, 1);
border-radius: 50%;
}

/* Блок с услугами */
.services{
width: 1160px;
margin: 0 auto;
margin-top: 80px;
padding-bottom: 80px;
border-bottom: 2px solid rgba(238, 238, 238, 1);
}
.services ul{
list-style: none;
margin: 0;
padding: 0;
}
.services-list{
display: -ms-grid;
display: grid;
-ms-grid-columns: 300px 100px 300px 100px 300px;
grid-template-columns: 300px 300px 300px;
-webkit-column-gap: 100px;
   -moz-column-gap: 100px;
        column-gap: 100px;
row-gap: 30px;
}
.services-item{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
min-height: 347px;
}
.services-item p{
color: var(--text-color);
}
.services-item img{
-webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
        order: -1;
}
.services-item h3{
text-transform: uppercase;
font-size: 24px;
line-height: 30px;
margin-bottom: 0;
margin-top: 0;
}
.services-item-websites h3::before{
content: "";
width: 300px;
height: 146px;
background-image: url(../img/websites.png);
background-repeat: no-repeat;
display: block;
margin-bottom: 24px;
background-size: contain;
}
.services-item-apps h3::before{
content: "";
width: 300px;
height: 146px;
background-image: url(../img/apps.png);
background-repeat: no-repeat;
display: block;
margin-bottom: 24px;
background-size: contain;
}
.services-item-presentation h3::before{
content: "";
width: 300px;
height: 146px;
background-image: url(../img/presentation.png);
background-repeat: no-repeat;
display: block;
margin-bottom: 24px;
background-size: contain;
}
.services-item p{
line-height: 24px;
}
.services-item:nth-child(2) .services-button{
background-color: rgba(0, 202, 116, 1);
}
.services-item:nth-child(2) .services-button:hover{
background-color: rgba(0, 188, 108, 1);
}
.services-item:nth-child(2) .services-button:active{
background-color: rgba(0, 170, 98, 1);
}
.services-item:nth-child(3) .services-button{
background-color: rgba(239, 200, 73, 1);
}
.services-item:nth-child(3) .services-button:hover{
background-color: rgba(234, 181, 52, 1);
}
.services-item:nth-child(3) .services-button:active{
background-color: rgba(229, 167, 34, 1);
}
.services-button{
margin-top: auto;
width: 160px;
}

/* Блок информация о нас */

.about{
margin: 0 auto;
margin-top: 39px;
padding-bottom: 60px;
width: 1160px;
display: -ms-grid;
display: grid;
-ms-grid-columns: 650px 150px 360px;
grid-template-columns: 650px 360px;
gap: 150px;
border-bottom: 2px solid rgba(238, 238, 238, 1);
}
.about-us{
line-height: 24px;
}
.about-us p{
color: var(--text-color);
}
.about-us h3{
font-size: 45px;
line-height: 45px;
font-weight: 500;
margin-bottom: 32px;
margin-top: 36px;
}
.about-us h4{
text-transform: uppercase;
font-weight: 700;
margin-top: 40px;
margin-bottom: 15px;
}
.about-us ul{
list-style: none;
line-height: 46px;
padding: 0;
margin: 0;
color: var(--text-color);
}
.orders li::before{
content: "";
background-image: url(../img/icon/about-us-list-line.svg);
display: inline-block;
width: 25px;
height: 2px;
vertical-align: middle;
margin-right: 12px;
}
.advantages{
text-align: center;
}
.advantages h4{
text-transform: uppercase;
font-weight: 700;
margin-top: 0;
margin-bottom: 35px;
}
.advantages h4::before{
content: "";
display: block;
width: 360px;
height: 208px;
background-image: url(../img/nerds-illustration.png);
margin-bottom: 37px;
}
.advantages-list{
display: -ms-grid;
display: grid;
    grid-template-areas: "A B C"
                     "D F G";
margin: 0;
row-gap: 15px;
}
.advantages-list dd{
text-align: left;
margin: 0;
color: var(--text-color);

}
.advantages-list dt{
font-size: 45px;
font-weight: 700;
text-align: left;
margin-top: 8px;
}
.advantages-list sup{
font-size: 26px;
}
.advantages-list dt:nth-of-type(1){
-ms-grid-row: 1;
-ms-grid-column: 1;
grid-area: A;
}
.advantages-list dt:nth-of-type(2){
-ms-grid-row: 1;
-ms-grid-column: 2;
grid-area: B;
}
.advantages-list dt:nth-of-type(3){
-ms-grid-row: 1;
-ms-grid-column: 3;
grid-area: C;
}
.advantages-list dd:nth-of-type(1){
-ms-grid-row: 3;
-ms-grid-column: 1;
grid-area: D;
}
.advantages-list dd:nth-of-type(2){
-ms-grid-row: 3;
-ms-grid-column: 2;
grid-area: F;
}
.advantages-list dd:nth-of-type(3){
-ms-grid-row: 3;
-ms-grid-column: 3;
grid-area: G;
}
/* Блок покупатели */
.customers{
width: 1160px;
margin: 0 auto;
margin-bottom: 80px;
}
ul.customers-list{
margin: 0;
padding: 0;
margin-top: 46px;
padding-bottom: 44px;
border-bottom: 2px solid rgba(238, 238, 238, 1);
}
.customers-list{
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
list-style: none;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
justify-items: center;
row-gap: 20px;
}
.customers-list li{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.customers-list a{
display: inline-block;
}
.customers-list img{
opacity: 0.2;
}
.customers-list li:hover img{
opacity: 1;
}
.customers-list li:active img{
opacity: 0.1;
}
.customers-list li:not(:nth-child(4n - 3))::before{
content: "";
background-image: url(../img/icon/customers-decor-line.svg);
width: 2px;
height: 52px;
opacity: 1;
display: inline-block;
margin-right: 45px;
}
/* Блок с картой и контактами */
.contacts{
background: 
    url(../img/map-marker.png) left 70% bottom 156px/231px 190px no-repeat, 
    url(../img/map.jpg) center/cover no-repeat; 
width: 100%;
height: 416px;
padding-top: 54px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
position: relative;
}
.contacts-map{
width: 1160px;
margin: 0 auto; 
}
.contact-us{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
height: 308px;
width: 319px;
background-color: #FFFFFF;
padding: 50px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
color: rgba(102, 102, 102, 1);
-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
z-index: 2;
position: relative;
}
.contact-phone{
color: rgba(102, 102, 102, 1);
}
.contact-us h3{
color: rgba(0, 0, 0, 1);
margin-top: 0;
margin-bottom: auto;
margin-top: 7px;
}
.contact-us p{
margin: auto;
}
.contact-us .contact-phone{
margin-bottom: auto;
}
.contact-us-button{
margin-top: auto;
cursor: pointer;
}
/* google map */
.google-map{
display: block;
position: absolute;
z-index: 1;
top: 0;
}
.yandex-map{
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}
/* Футер */
.footer-wrapper{
width: 1160px;
min-height: 217px;
margin: 0 auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.socials{
list-style: none;
margin: 0;
padding: 0;
margin-right: 134px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
max-width: 400px;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.socials-button{
width: 81px;
height: 81px;
background-color: rgba(225, 225, 225, 1);
border-radius: 50%;
margin-right: 8px;
}
.socials-button:nth-child(n+5){
margin-top: 9px;
}

.socials-button:active img{
opacity: 0.3;
}
.footer-text h3{
font-size: 36px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 20px;
}
.footer-text p{
color: rgba(68, 68, 68, 1);
margin-top: 0;
}
/* стили для blank.html */
.blank-title{
min-height: 235px;
background-color: var(--second-color);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.blank-title h1{
font-size: 55px;
line-height: 55px;
font-weight: 500;
}
/* Страница Каталога */

.catalog-title{
min-height: 235px;
background-color: var(--second-color);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin-bottom: 55px;
text-align: center;
margin-bottom: 61px;
}
.catalog-title h1{
font-size: 55px;
line-height: 55px;
font-weight: 500;
}
/* Фильтры */
.main-filter{
line-height: 20px;
}
.main-filter ul{
list-style: none;
margin: 0;
padding: 0;
}

.main-filter legend{
text-transform: uppercase;
font-weight: 700;
font-size: 18px;
}
.filter-set{
border: 0;
padding: 0;
margin: 0;
}
.filter-set:not(:first-child) input{
opacity: 0.4;
}
.filter-set label{
color: var(--text-color);
}
.filter-set label:hover input{
opacity: 1;
}
.filter-set label:focus input{
opacity: 1;
}
.filter-range{
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 30px 1fr;
grid-template-columns: 1fr 1fr;
row-gap: 14px;
-webkit-column-gap: 30px;
   -moz-column-gap: 30px;
        column-gap: 30px;
margin-bottom: 60px;
}
.filter-range label{
text-transform: uppercase;
}
.filter-range legend{
text-transform: uppercase;
margin-bottom: 53px;
}
.filter-range input{
width: 80px;
height: 38px;
border: 0;
text-align: center;
background-color: var(--second-color);
border-radius: 3px;
padding: 0;
}
.filter-range-item{
-ms-grid-column: 1;
-ms-grid-column-span: 2;
grid-column: 1/3;
width: 100%;
min-height: 80px;
background-color: var(--second-color);
border-radius: 3px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: relative;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
padding-left: 25px;
padding-right: 25px;
padding-top: 39px;
padding-bottom: 39px;
}
.range-item__range-line{
height: 2px;
background-color: rgba(215, 220, 223, 1);
width: 210px;
position: absolute;

}
.range-item__range-chosen-line{
height: 2px;
background-color: rgba(0, 202, 116, 1);
position: absolute;
left: 20%;
right: 30%;
}
.range-item__handle{
width: 4px;
height: 4px;
background-color: rgba(171, 171, 171, 1);
position: absolute;
border: 8px solid rgba(255, 255, 255, 1);
border-radius: 50%;
-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
top: 50%;
margin-top: -10.5px;
cursor: pointer;
left: 0;
}
.range-item__min-handle{
left: 20%;
}
.range-item__max-handle{
right: 30%;
left: unset;
}
.filter-radio legend{
margin-bottom: 20px;
}
.filter-radio label{
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
cursor: pointer;
margin-left: 36px;
margin-bottom: 20px;
line-height: 20px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.filter-input-radio + label::before{
content: "";
width: 25px;
height: 25px;
background-image: url(../img/icon/radio-off.svg);
background-repeat: no-repeat;
position: absolute;
left: -36px;
opacity: 0.4;
}
.filter-input-radio:checked + label::before{
background-image: url(../img/icon/radio-on.svg);
}
.filter-input-radio:hover + label::before{
opacity: 1;
}
.filter-input-radio:focus + label::before{
opacity: 1;
}
.filter-input-radio:disabled + label::before{
opacity: 0.1;
}

.filter-radio li:last-child{
margin-bottom: 47px;
}

.filter-checkbox legend{
margin-bottom: 23px;
}
.filter-checkbox label{
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
cursor: pointer;
margin-left: 36px;
margin-bottom: 20px;
line-height: 20px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.filter-input-checkbox + label::before{
content: "";
width: 25px;
height: 25px;
background-image: url(../img/icon/checkbox-off.svg);
background-repeat: no-repeat;
position: absolute;
left: -36px;
opacity: 0.4;
}
.filter-input-checkbox:checked + label::before{
background-image: url(../img/icon/checkbox-on.svg);
}
.filter-input-checkbox:hover + label::before{
opacity: 1;
}
.filter-input-checkbox:focus + label::before{
opacity: 1;
}
.filter-input-checkbox:disabled + label::before{
opacity: 0.1;
}
.filter-checkbox li:last-child{
margin-bottom: 48px;
}
.filter-button{
width: 100%;
color: rgba(0, 0, 0, 1);
background-color: var(--second-color);
}
.filter-button:hover{
background-color: rgba(223, 223, 223, 1);
}
.filter-button:active{
background-color: rgba(213, 213, 213, 1);
color: rgba(0, 0, 0, 0.3);
}

/* Готовые продукты */
.catalog-wrapper{
width: 1160px;
margin: 0 auto;
display: -ms-grid;
display: grid;
-ms-grid-columns: 260px 140px 760px;
grid-template-columns: 260px 760px;
gap: 140px;
}
.catalog-title__text{
max-width: 1160px;
padding-bottom: 35px;
}
.products{
display: -ms-grid;
display: grid;
-ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
-ms-grid-rows: min-content 1fr min-content;
grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
grid-template-rows: min-content 1fr min-content;
}
.templates{
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 40px 1fr;
grid-template-columns: 1fr 1fr;
row-gap: 30px;
-webkit-column-gap: 40px;
   -moz-column-gap: 40px;
        column-gap: 40px;
}
.template-item{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
position: relative;
}
.sort-menu{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.sort-menu h3{
text-transform: uppercase;
font-weight: 700;
font-size: 18px;
margin: 0;
}
.sort-menu-list{
font-size: 14px;
min-width: 360px;
display: -ms-grid;
display: grid;
-ms-grid-columns: -webkit-max-content 25px -webkit-max-content 25px -webkit-max-content 25px -webkit-max-content;
-ms-grid-columns: max-content 25px max-content 25px max-content 25px max-content;
grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
grid-template-columns: max-content max-content max-content max-content;
-webkit-column-gap: 25px;
   -moz-column-gap: 25px;
        column-gap: 25px;
row-gap: 20px;
text-transform: uppercase;
}

.sort-menu__item, .sort-menu__item img{
color: rgba(0, 0, 0, 1);
opacity: 0.3;
}
.sort-menu__item:hover, .sort-menu__item img:hover{
color: rgba(0, 0, 0, 1);
opacity: 0.6;
}
.sort-menu__item:active, .sort-menu__item img:active{
color: rgba(0, 0, 0, 1);
opacity: 1;
}
.sort-menu__item-current, .sort-menu__item-current img{
opacity: 1;
}
.sort-menu__item-current:hover, .sort-menu__item-current img:hover{
opacity: 1;
}
.sort-menu__item-arrows{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
min-width: 47px;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.products ul{
list-style: none;
margin: 0;
padding: 0;
margin-bottom: 54px;
}
.item-picture{
border-radius: 0 0 5px 5px;
border: 1px solid #F2F2F2;
}
.picture-wrapper::before{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
content: " ";
width: 360px;
height: 40px;
background-image: url("../img/icon/browser.svg");
opacity: 0.1;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.template-item:hover .picture-wrapper::before{
opacity: 1;
}

.item-description{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: 0 55px;
min-height: 231px;
background-color: var(--second-color);
border-radius: 0 0 5px 5px;
width: 360px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
position: absolute;
bottom: 0;
text-align: center;
z-index: -1;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
opacity: 0;
}
.item-description a{
color: var(--headline-color);
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
}

.item-description h3{
margin: 25px 0 12px 0;
}

.item-description p{
color: var(--text-color-light);
margin-top: 0;
margin-bottom: 30px;
}
.item-button{
width: 200px;
margin-bottom: 44px;
}

.item-description a:hover{
color: var(--buttons-main-color);
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.item-description a:active{
color: rgba(0, 0, 0, 0.3);
}
.template-item:focus-within .item-description{
  z-index: 1;
  opacity: 1;
}
.template-item:hover .item-description{
z-index: 1;
opacity: 1;
}
.template-item:hover .item-picture{
border: 0;
width: 360px;
-webkit-filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}


/* Пагинация */

.pagination{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pagination li{
margin-bottom: 11px;
}
.pagination li:not(:last-child){
margin-right: 11px;
}

.filter-button-current{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
border-radius: 3px;
border: 3px solid var(--second-color);
-webkit-box-sizing: border-box;
        box-sizing: border-box;
background-color: rgba(255, 255, 255, 1);
min-width: 50px;
min-height: 50px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.filter-button-next{
min-width: 260px;
}
/* Всплывающее окно POPUP */

.popup{
position: absolute;
display: -ms-grid;
display: none;
-ms-grid-columns: 360px 40px 360px;
grid-template-columns: 360px 360px;
-ms-grid-rows: -webkit-min-content 34px 1fr;
-ms-grid-rows: min-content 34px 1fr;
grid-template-rows: -webkit-min-content 1fr;
grid-template-rows: min-content 1fr;
gap: 34px 40px ;
width: 960px;
height: 590px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
padding: 63px 100px 83px 100px;
-webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
background-color: rgba(255, 255, 255, 1);
bottom: 180px;
left: 50%;
margin-left: -480px;
z-index: 3;

}

.popup > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.popup > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.popup > *:nth-child(3){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.popup > *:nth-child(4){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.popup-form{
-ms-grid-column: 1;
-ms-grid-column-span: 2;
grid-column: 1/3;
display: -ms-grid;
display: grid;
-ms-grid-columns: 360px 40px 360px;
grid-template-columns: 360px 360px;
-ms-grid-rows: -webkit-min-content 34px -webkit-min-content 34px -webkit-min-content;
-ms-grid-rows: min-content 34px min-content 34px min-content;
grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
grid-template-rows: min-content min-content min-content;
-webkit-column-gap: 40px;
   -moz-column-gap: 40px;
        column-gap: 40px;
row-gap: 34px;
height: 100%;
}
.popup-form > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.popup-form > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.popup-form > *:nth-child(3){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.popup-form > *:nth-child(4){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.popup-form > *:nth-child(5){
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.popup-form > *:nth-child(6){
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.popup-form input,
.popup-form textarea,
.popup-form label {
display: block;
font-family: inherit;
}
.popup-form label{
font-weight: 700;
line-height: 18px;
margin-bottom: 9px;
}

.popup-input{
width: 100%;
height: 50px;
padding: 14px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
border: 2px solid #D7DCDE;
border-radius: 3px;
color: rgba(68, 68, 68, 1);
}
.popup-input:hover{
border-color: rgba(180, 185, 187, 1);
}
.popup-textarea{
-ms-grid-column: 1;
-ms-grid-column-span: 2;
grid-column: 1/3;
}
.popup-text{
width: 100%;
height: 118px;
padding: 14px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
border: 2px solid #D7DCDE;
border-radius: 3px;
color: rgba(68, 68, 68, 1);
resize: none;
}
.popup-text:hover{
border-color: rgba(180, 185, 187, 1);
}
.popup-input-error{
  border-color: rgba(231, 66, 70, 1);
  animation: shake 0.6s;
}
.popup-input-error:hover{
  border-color: rgba(231, 66, 70, 1);
}
.popup-input-error:focus{
  border-color: rgba(231, 66, 70, 1);
  outline: none;
}
.popup-input-error:active{
  border-color: rgba(231, 66, 70, 1);
}
.popup-input-error::placeholder{
  color: rgba(231, 66, 70, 1);
}

.popup h2{
font-size: 45px;
line-height: 53px;
margin: 0;
font-weight: 700;
}
.popup-close-button{
width: 21px;
height: 21px;
margin-left: auto;
-ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
margin-right: -10px;
border: none;
background-color: inherit;
background-image: url(../img/icon/close-cross.svg);
cursor: pointer;
opacity: 0.3;
}
.popup-close-button:hover{
opacity: 1;
}
.popup-close-button:active{
opacity: 0.1;
}
.popup-button{
padding: 0;
width: 260px;
margin-top: 13px;
}

.popup-show{
  display: grid;
  animation: bounce 0.2s;
}

/* Анимация для ошибочного ввода в форму модалки */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Анимация для появления модалки */

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0.2);
  }
  60% {
    transform: scale(0.4);
  }
  70% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

